#main-header {
    background-image: url("../src/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

#pqrsf-form {
    width: 40%;
}

#inputTel,
#inputCc {
    width: 88%;
}

#mision-p {
    height: 220px;
}

#vision-p {
    height: 220px;
}

#extra-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#extra-contacts section {
    height: 100px;
    width: 300px;
}

.space-radio-pqrsf {
    margin-right: 20px;
}

@media (max-width: 768px) {
    #pqrsf-form {
        width: 75%;
    }
    .btn-enviar-datos {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    #pqrsf-form {
        width: 95%;
    }
    .btn-enviar-datos {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
